@layout('layouts/main')
@set('title', 'Contact')
@set('description', 'Get in touch with These Three Things and let us know about any ideas, questions or bugs you\'ve found!')

@section('content')
  <main>
    <div class="container">
      <h1>We'd love to hear from you.</h1>
    </div>
  </main>
@end
