@layout('layouts/main')
@set('title', 'Apply')
@set('description', 'Find everything you need to know about completing an application for the These Three Things fund.')

@section('content')
  <main>
    <div class="container">
      <h1>Apply to the These Three Things fund for a grant.</h1>
    </div>
  </main>
@end
