@layout('layouts/main')
@set('title', 'Network')
@set('description', 'The These Three Things network is made up of experts in their fields, to equip and support our partner projects.')

@section('content')
<main>
  <div class="container">
    <article>
      <h1>Network</h1>
    </article>
  </div>
</main>
@end
