@layout('layouts/main')
@set('title', 'Platform')
@set('description', 'The Platform gives otherwise unheard voices a stage and an audience for their work.')

@section('content')
<main>
  <div class="container">
    <article>
      <h1>Platform</h1>
    </article>
  </div>
</main>
@end
