@layout('layouts/main')
@set('title', 'Read more')
@set('description', 'Find out more about These Three Things and the work that we do. Read our blog posts and browse our policy documents.')

@section('content')
  <main>
    <div class="container">
      <h1>Find out more about These Three Things.</h1>
    </div>
  </main>
@end
