@layout('layouts/main')
@set('title', 'Think Tank')
@set('description', 'Read These Three Things latest thought-leading research.')

@section('content')
<main>
  <div class="container">
    <article>
      <h1>Think Tank</h1>
    </article>
  </div>
</main>
@end
