<header>
  <nav>
    <a href="/" class="site-branding">
      <img src="assets/ttt-logo--simple.png" alt="These Three Things logo">
    </a>
    <ul>
      <li><a href="/read-more">Read more</a></li>
      <li><a href="/apply">Apply</a></li>
      <li><a href="/contact">Get in touch</a></li>
    </ul>
  </nav>
</header>
