<header>
  <nav>
    <a href="{{ route('pages.home') }}" class="site-branding">
      <img src="assets/ttt-logo--simple.png" alt="These Three Things logo">
    </a>
    <ul>
      <li><a href="{{ route('pages.read-more') }}">Read more</a></li>
      <li><a href="{{ route('pages.fund-apply') }}">Apply</a></li>
      <li><a href="{{ route('pages.contact') }}">Get in touch</a></li>
    </ul>
  </nav>
</header>
