@use 'sass:map';

$scale: (
  100: 0.512rem,
  200: 0.64rem,
  300: 0.8rem,
  400: 1rem,
  500: 1.25rem,
  600: 1.563rem,
  700: 1.953rem,
  800: 2.441rem,
  900: 3.052rem,
);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

$font--serif: Georgia, 'Times New Roman', serif;
$font--sans-serif: 'Open Sans', Helvetica, sans-serif;
$font--cursive: 'Lovers Quarrel', cursive;

$font-size--title: map.get($scale, 900);

$clr--light: #FFF;
$clr--dark: #000;