@use 'sass:map';
@use './functions' as func;
@use './variables' as var;

// ----------
// LAYOUT
// ----------
main {
  padding-top: map.get(var.$scale, 900);
}

div.container {
  width: 90%;
  max-width: 45rem;
  margin-inline: auto;
}

// ----------
// TYPOGRAPHY
// ----------
h1, h2, h3, h4, h5, h6 {
  font-family: var.$font--serif;
}

h1 {
  max-width: 20ch;
  font-size: var.$font-size--title;
  line-height: 1.2;
  margin-top: 6rem;

  & + * {
    margin-top: map.get(var.$scale, 900);
  }
}

p {
  max-width: 70ch;
  font-family: var.$font--sans-serif;
  line-height: 2;
  & + * {
    margin-top: map.get(var.$scale, 600);
  }

  &.tagline {
    font-family: var.$font--cursive;
    font-size: var.$font-size--title;
    line-height: 1;
  }
}

// ----------
// IMAGES
// ----------
img#global-background {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 45rem;
  opacity: .06;
}

// ----------
// ELEMENTS
// ----------
hr {
  $gap: func.extend-scale(1100);
  position: relative;
  border: none;
  border-bottom: 1px solid var.$clr--dark;
  overflow: visible;

  * + & { margin-top: #{$gap}rem; }
  + * { margin-top: #{$gap}rem; }

  &::after {
    content: "/ / /";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
    padding-inline: map.get(var.$scale, 200);
    text-align: center;
    line-height: 2rem;
    font-size: var.$font-size--lead;
    font-weight: 900;
    background-color: var.$clr--light;
  }
}

.blur {
  backdrop-filter: blur(.125rem);
}
