@use 'sass:map';
@use './variables' as var;

// ----------
// LAYOUT
// ----------
div.container {
  width: 90%;
  max-width: 45rem;
  margin-inline: auto;
}

// ----------
// TYPOGRAPHY
// ----------

h1, h2, h3, h4, h5, h6 {
  font-family: var.$font--serif;
}

h1 {
  max-width: 20ch;
  font-size: var.$font-size--title;
  line-height: 1.2;
  margin-top: 6rem;

  & + * {
    margin-top: map.get(var.$scale, 900);
  }
}

p {
  max-width: 70ch;
  font-family: var.$font--sans-serif;
  line-height: 2;
  & + * {
    margin-top: map.get(var.$scale, 600);
  }

  &.tagline {
    font-family: var.$font--cursive;
    font-size: var.$font-size--title;
    line-height: 1;
  }
}

// ----------
// IMAGES
// ----------
img#global-background {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 45rem;
  opacity: .04;
}