@use 'sass:map';
@use '../variables' as var;

$link-slant: 1.2rem;
$link-gap: map.get(var.$scale, 700) * .5;

.link-button {
  position: relative;
  display: inline-block;
  padding: map.get(var.$scale, 300) map.get(var.$scale, 800);
  background-color: var.$clr--dark;
  color: var.$clr--light;
  font-family: var.$font--sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;

  clip-path: polygon($link-slant 0%, 100% 0%, 100% 50%, 100% 100%, 0 100%);
  transition: clip-path .25s ease;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: .2em;
    clip-path: polygon(0% 0%, calc(100% - $link-slant) 0%, 100% 50%, calc(100% - $link-slant) 100%, 0 100%);
  }
}

.link-row {
  display: flex;
  flex-flow: row wrap;
  margin-inline: $link-gap * -1;

  .link-button {
    margin-inline: $link-gap;
    margin-block-end: $link-gap;
  }

  * + & {
    margin-top: map.get(var.$scale, 800);
  }
}