@use 'sass:map';
@use '../variables' as *;

$link-gap: map.get($scale, 700) * .5;

.link-button {
  position: relative;
  display: inline-block;
  padding: map.get($scale, 400) map.get($scale, 800);
  background-color: map.get($colours, dark);
  color: map.get($colours, light);
  font-family: map.get($fonts, sans-serif);
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;

  clip-path: polygon(1.2rem 0%, 100% 0%, 100% 50%, 100% 100%, 0 100%);
  transition: clip-path .25s ease;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: .2em;
    clip-path: polygon(0% 0%, calc(100% - 1.2rem) 0%, 100% 50%, calc(100% - 1.2rem) 100%, 0 100%);
  }
}

.link-row {
  display: flex;
  flex-flow: row wrap;
  margin-inline: $link-gap * -1;

  .link-button {
    margin-inline: $link-gap;
    margin-block-end: $link-gap;
  }

  * + & {
    margin-top: map.get($scale, 800);
  }

  @media screen and (max-width: 575px) {
    .link-button {
      width: 100%;
      text-align: center;
    }
  }
}
