<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:title" content="{{title}}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/partials/header.css">
  @!section('assets')
  <title>{{title}} - These Three Things</title>
</head>
<body>
  @include('partials/header')
  @!section('content')
  <img id="global-background" src="assets/fhl-swirls.png" alt="A vector graphic of some curly lines, or 'flourishes'.">
</body>
</html>
