@use 'sass:map';
@use '../variables' as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: map.get($colours, light);
  border-bottom: 1px solid rgba(map.get($colours, grey), .6);
  box-shadow: 0 .4rem .5rem 0 rgba(map.get($colours, dark), .16);
  z-index: 1;

  nav {
    width: 90%;
    max-width: 45rem;
    margin-inline: auto;
    padding-block: map.get($scale, 600);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding img {
      width: map.get($scale, 800);
      height: auto;
    }

    ul {
      display: flex;
      list-style-type: none;

      li + li {
        margin-left: map.get($scale, 800);
      }

      li a {
        font-family: map.get($fonts, sans-serif);
        text-transform: uppercase;
        color: map.get($colours, dark);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: .2em;
        }

        &.button {
          $bg: map.get($colours, brand);
          padding: map.get($scale, 200) map.get($scale, 500);
          background-color: $bg;
          color: map.get($colours, light);
          font-weight: 900;

          transition: background-color .25s ease;
          &:hover {
            background-color: darken($bg, 10%);
          }
        }
      }
    }
  }
}
